.card-body {
  color: #29194D;
}

.cards img {
  margin: 10px;
  max-width: 100%;
}

.card-foods {
  height: 445px;
}

.card-ingredients {
  height: 575px;
}

.card-recomendation {
  color: #29194D;
}

.details-recipe{
  color: #29194D;
}

.card-recommendation-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
