.card-body {
  color: #29194d;
}

.cards img {
  margin: 10px;
  max-width: 100%;
}

.card-done {
  height: 550px;
}

.card-foods {
  height: 445px;
}

.card-ingredients {
  height: 575px;
}

.card-recomendation {
  color: #29194d;
}

.details-recipe {
  color: #29194d;
}

.card-recommendation-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card-horizontal {
  color: #29194d;
  display: flex;
  flex-direction: row;
  height: 160px;
  padding: 0;
  width: 320px;
}

.card-horizontal img {
  height: 100%;
  margin: 0;
  width: 160px;
}

.body-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  margin-top: 20px;
  width: 50%;
}

.buttons {
  align-self: flex-end;
  display: flex;
  margin-bottom: 7px;
  width: 60%;
}

.btn-share {
  width: 30px;
}
