.footer-container {
  background-color: rgb(115, 70, 213, 0.3);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 360px;
}

.start-recipes-footer {
  align-items: center;
  background-color: #4406cbd8;
  border-radius: 4px;
  bottom: 0;
  color: white;
  display: flex;
  font-size: 20px;
  height: 57px;
  justify-content: space-around;
  margin-left: -24.5px;
  position: fixed;
  width: 360px;
}

.start-recipes-footer:hover {
  background-color: rgb(115, 70, 213);
}
