 .header-container {
  position: fixed;
  width: 360px;
  color: #340599;
  background-color: rgb(115, 70, 213, 0.3);
}

/* .header-icons {
  display: flex;
  justify-content: space-between;
}

.header-input {
  display: flex;
  justify-content: center;
}

.header-radio {
  display: flex;
  justify-content: space-evenly;
}
 */
