body {
  align-self: auto;
  margin: auto;
  width: 360px;
  background-color: rgba(255, 255, 255, 0.7);
}

.btn-login {
  background-color: #570df8;
  color: white;
}

.btn-login:disabled {
  background-color: #4506cb;
  color: white;
  opacity: 0.4;
}

.btn:hover {
  background-color: #4406cbd8;
  color: white;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.foods {
  margin-top: -15px;
}

html {
  background-image: url('images/bg-app-recipes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}
